* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

#scene-container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background: linear-gradient(#6b93bd, #ffffff);
}
